<div class="d-flex align-items-center">
  <h1>製品作成</h1>
  <div class="ml-auto product__linkBox">
    <a href="/product" class="btn btn-outline-dark">製品一覧</a>
  </div>
</div>
<%= form_for @product,　:url => { :controller => :product, :action => :create } do |f| %>
  <div class="form-group">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price, '価格' %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, '説明' %>
    <%= f.text_area :description, class: 'form-control', rows: 10 %>
  </div>
  <%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>