    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

<div class="d-flex align-items-center">
  <h1>製品一覧</h1>
  <div class="ml-auto product__linkBox">
    <!--<a class="btn btn-outline-primary" href="/products/new" role="button">新規作成</a>-->
    <%= link_to '新規作成', new_product_path, class:"btn btn-outline-primary" %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover product__table">
  <thead class="table-primary">
    <tr>
      <th>ID</th>
      <th>製品名</th>
      <th>価格</th>
      <th>説明</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
      <%# <th></th> %>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr onclick="location.href='<%= product_path(product) %>'">
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= product.created_at.to_s(:datetime_jp) %></td>
        <td><%= product.updated_at %></td>
        <td><%= link_to '削除', product, class: 'btn btn-outline-dark', method: :delete %></td>
        <!-- <td><%= link_to '詳細', product, class:"btn btn-outline-secondary" %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>