<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto product__linkBox">
    <%= link_to '製品一覧', products_path, class:"btn btn-outline-primary" %>
    <%= link_to '編集', edit_product_path(@product), class:"btn btn-outline-primary" %>
    <%= link_to '削除', @product, class: 'btn btn-outline-primary', method: :delete %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4><%= @product.name%></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @product.price%></p>
    <p class="text-right font-weight-bold mr-10"><%= simple_format(@product.description)%></p>
  </div>
</div>